[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

*.pidb
*.suo
*.user
*.userprefs
*.unityproj
*.booproj
*.svd
*.pdb

*.csproj
*.sln
*.sln.DotSettings
*.vcxproj
*.ncb
*.opendb
*.VC.db

.vscode/
.idea/

*.tmp
*.bak
*.old
*.orig
*.mdb

sysinfo.txt
*.stackdump
*.log

.DS_Store
ehthumbs.db
Icon?
Thumbs.db
desktop.ini

.plastic/
.ignore
.collabignore

Packages/*.private.*
package-lock.json
packages-lock.json.private.0

*.apk
*.aab
*.xcuserstate
*.xcworkspace

*.swp
*.swo

.cloud/

.idea/
*.sln.iml

*.Generated.cs

node_modules/

.DS_Store
